# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.next/cache/webpack/client-development/0.pack
/.next/cache/webpack/server-development/0.pack
/.next/cache/webpack/client-development/1.pack
/.next/cache/webpack/server-development/1.pack
/.next/cache/webpack/client-development/2.pack
/.next/cache/webpack/server-development/2.pack
/.next/cache/webpack/client-development/3.pack
/.next/cache/webpack/server-development/3.pack
/.next/server/pages/404.js
/.next/static/chunks/pages/404.js
/.next/static/webpack/195216c18acf7c77.webpack.hot-update.json
/.next/static/webpack/76974251d996eb2a.webpack.hot-update.json
/.next/server/pages/_app.js
/.next/static/chunks/pages/_app.js
/.next/static/development/_buildManifest.js
/.next/server/pages/_document.js
/.next/server/pages/_error.js
/.next/static/chunks/pages/_error.js
/.next/static/development/_ssgManifest.js
/.next/static/chunks/amp.js
/.next/build-manifest.json
/.next/server/pages/index.js
/.next/static/chunks/pages/index.js
/.next/cache/webpack/client-development/index.pack
/.next/cache/webpack/server-development/index.pack
/.next/cache/webpack/client-development/index.pack.old
/.next/cache/webpack/server-development/index.pack.old
/.next/static/chunks/main.js
/.next/server/middleware-build-manifest.js
/.next/server/middleware-manifest.json
/.next/server/middleware-react-loadable-manifest.js
/.idea/modules.xml
/.next/package.json
/.next/server/pages-manifest.json
/.next/static/chunks/polyfills.js
/.idea/inspectionProfiles/Project_Default.xml
/.next/react-loadable-manifest.json
/.next/static/chunks/react-refresh.js
/.idea/SecureSolution_F.iml
/.next/trace
/.idea/vcs.xml
/.next/static/webpack/webpack.195216c18acf7c77.hot-update.js
/.next/static/webpack/webpack.76974251d996eb2a.hot-update.js
/.next/static/chunks/webpack.js
/.next/server/webpack-runtime.js
/.idea/.gitignore
